body {
  background-color: brown;
}

.context {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 5em 1em;
  border: 2px dashed black;
}

div {
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  background-color: rgb(246, 106, 106);
}
.box-1 {
  position: relative;
  top: 50%;
}
.box-2 {
  position: relative;
  top: 50px;
  border-radius: 20%;
}
