body {
  margin: 0px;
  background-color: blueviolet;
}
h1 {
  background-color: blue;
  color: white;
  font-size: 50px;
  display: flexbox;
  /* lo entiende como 20px de distancia a todos los lados arriba, abajo, derecha, izquierda*/
  margin: 0px 30px 20px 0px;
  padding: 0px 0px 30px 10px;
  /*margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 0px;*/
}

.primeraClase {
  color: blue;
}

#primerIdentificador {
  color: white;
}

.primerDiv {
  display: inline-block;
  width: 100px;
  background-color: beige;
  }

  .segundoDiv{      
   display: inline-block;
   width: 500px; 
   background-color: crimson;
}

.footer{
    margin-top: 20px; 
    background-color: burlywood; 
    position: sticky"
}
