body{
  margin: 0;
}
.cabecera {
  position: fixed;
  top: 0;
  width: 90%;
  height: 50px;
  padding: 20px 5%;
  background-color: rgb(20, 22, 4);
}
.main-container{
  position: relative;
  top:80px;
}
img {
  float: left;
}
nav{
  float: right;
}
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 30px;
} 