.calculadora {
  height: 500px;
  width: 400px;
  background-color: blue;
}
.contenedor-pantalla {
  width: 400px;
}
.pantalla {
  width: 370px;
  height: 50px;
  background-color: aqua;
  margin: 0 auto;
}
.botones {
  width: 370px;
  background-color: red;
  margin: 10px auto;
  text-align: center;
}
.boton {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
}
