.container-abuelo {
  margin-top: 200px;
  margin-left: 50px;
  position: relative;
  width: 1000px;
  height: 400px;
  border: 2px dashed black;
}

.container-padre {
    margin-top: 100px;
    /* position: relative; */
    width: 500px;
    height: 200px;
    border: 2px dashed black;
  }

.base {
  width: 120px;
  height: 50px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.box-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
}

.box-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: brown;
}

.box-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: yellow;
}

.box-4 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
}

.box-5 {
  position: absolute;
  margin: auto; /*truco para centrear*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: plum;
}
